$accent:#2B4074;
$title: #4A4A4A;
$subtitle: #797979;
$text: #9B9B9B;
$border:#D8D8D8;
$green: #476E4D;
$background: #F9F6E5;
$linear:linear-gradient(#2B4074, #fff);
$RobotoCondensed: 'Roboto Condensed', sans-serif;
$Roboto:'Roboto', sans-serif;
$Dosis:'Dosis', sans-serif;