@charset "UTF-8";
html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #2B4074;
  min-height: 80px;
}
.header_conteiner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .header_conteiner {
    min-height: 100px;
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .header_conteiner {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .header_conteiner {
    padding: 0 50px;
  }
}
@media (min-width: 1440px) {
  .header_conteiner {
    padding: 0 120px 0 60px;
  }
}

.logo_link {
  margin-left: 8px;
}
@media (min-width: 640px) {
  .logo_link {
    margin-left: 14px;
  }
}

.menu_btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
}
.menu_btn::after {
  content: "";
  top: 14px;
  left: 15px;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #2B4074;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

.intro {
  background-image: url(../images/bg-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 193px;
}

.top-slider_title {
  color: #fff;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
@media (min-width: 640px) {
  .top-slider_title {
    font-size: 60px;
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .top-slider_title {
    font-size: 84px;
    max-width: 600px;
  }
}
.top-slider_line {
  width: 60px;
  height: 8px;
  background-color: #4A4A4A;
  margin: 10px auto;
}
.top-slider_subtitle {
  display: none;
  color: #fff;
  width: 620px;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 100;
}
@media (min-width: 768px) {
  .top-slider_subtitle {
    display: block;
  }
}
@media (min-width: 1440px) {
  .top-slider_subtitle {
    font-size: 24px;
    width: 900px;
  }
}
.top-slider_button {
  padding: 16px 45px;
  background-color: #2B4074;
  border: none;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 640px) {
  .top-slider_button {
    visibility: visible;
  }
}
.top-slider_button:focus {
  outline: none;
}
.top-slider_item {
  min-height: 193px;
}
@media (min-width: 640px) {
  .top-slider_item {
    min-height: 386px;
  }
}
@media (min-width: 768px) {
  .top-slider_item {
    min-height: 465px;
  }
}
@media (min-width: 1024px) {
  .top-slider_item {
    min-height: 618px;
  }
}

.header_button-cont {
  display: none;
  margin: 0;
  text-align: center;
}
@media (min-width: 640px) {
  .header_button-cont {
    display: block;
    margin-top: 30px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  right: 0;
  left: 0;
  padding: 0;
  bottom: 20px;
}
.slick-dots li {
  margin-left: 10px;
}
.slick-dots li:first-child {
  margin-left: 0;
}
.slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #2B4074;
  color: #2B4074;
  border: 1px solid #2B4074;
  border-radius: 50%;
}
.slick-dots li button:focus {
  outline: none;
}
@media (min-width: 640px) {
  .slick-dots {
    bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .slick-dots {
    bottom: 80px;
  }
}

#slick-slide-control01, #slick-slide-control11 {
  border: 2px solid #476E4D;
  background: none;
}

.slick-slider .slick-arrow {
  right: 0;
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 1;
  border: none;
}
.slick-slider .slick-arrow:focus {
  outline: none;
}

.slick-next {
  background-color: #f9f6e5;
  bottom: 22%;
}
@media (min-width: 640px) {
  .slick-next {
    bottom: 35%;
  }
}
@media (min-width: 768px) {
  .slick-next {
    bottom: 41%;
  }
}

.slick-prev {
  background-color: #2B4074;
  top: 45%;
}
@media (min-width: 640px) {
  .slick-prev {
    top: 36%;
  }
}
@media (min-width: 1024px) {
  .slick-prev {
    top: 41%;
  }
}

.promo {
  background-color: #2B4074;
  min-height: 301px;
}
.promo_conteiner {
  text-align: center;
  color: #fff;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .promo_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .promo_conteiner {
    padding: 25px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .promo_conteiner {
    padding: 30px 150px;
  }
}
.promo_title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.promo_subtitle {
  font-family: "Dosis", sans-serif;
  font-weight: 10;
  font-size: 16px;
}
@media (min-width: 768px) {
  .promo_subtitle {
    max-width: 315px;
  }
}
@media (min-width: 1024px) {
  .promo_subtitle {
    max-width: 600px;
  }
}
.promo_button {
  padding: 16px;
  background-color: #fff;
  text-decoration: none;
  color: #2B4074;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
}
.promo .promo_button-cont {
  margin-top: 50px;
  min-height: 30px;
}
@media (min-width: 768px) {
  .promo .promo_button-cont {
    padding-bottom: 50px;
  }
}
.promo_text {
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .promo_text {
    max-width: 650px;
  }
}
@media (min-width: 768px) {
  .promo_text {
    max-width: 500px;
    margin: 0;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .promo_text {
    max-width: 800px;
  }
}
@media (min-width: 640px) {
  .promo {
    min-height: 254px;
  }
}
@media (min-width: 768px) {
  .promo {
    min-height: 187px;
  }
}
@media (min-width: 1024px) {
  .promo {
    min-height: 160px;
  }
}
@media (min-width: 1440px) {
  .promo {
    min-height: 192px;
  }
}

.serveses {
  text-align: center;
}
.serveses_content {
  padding: 40px 30px;
  margin: 0 auto;
}
.serveses_content-title {
  padding: 25px 0;
  color: #2B4074;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (min-width: 1024px) {
  .serveses_content-title {
    font-size: 48px;
  }
}
.serveses_content-line {
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .serveses_content-line {
    margin: 0;
    margin-top: 90px;
  }
}
.serveses_content-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  padding: 50px 0 25px;
}
@media (min-width: 1440px) {
  .serveses_content-subtitle {
    font-size: 24px;
  }
}
.serveses_content-describe {
  color: #797979;
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px;
}
@media (min-width: 1440px) {
  .serveses_content-describe {
    max-width: 500px;
  }
}
@media (min-width: 1440px) {
  .serveses_content {
    padding-right: 250px;
  }
}
.serveses_items {
  width: 283px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #D8D8D8;
}
@media (min-width: 640px) {
  .serveses_items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    width: 100%;
    border: none;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .serveses {
    display: flex;
    text-align: start;
  }
}

.serveses_item {
  width: 283px;
  height: 250px;
  border-bottom: 1px solid #D8D8D8;
}
.serveses_item-hover {
  height: 100%;
}
.serveses_item-hover:hover {
  border: 4px solid #2B4074;
  padding: 0;
}
.serveses_item-hover:hover .serveses_item-text {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
  font-weight: 400;
}
.serveses_item-hover:hover .serveses_item-buttonCont {
  display: inline-block;
  z-index: 3;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  color: #2B4074;
  margin-top: 20px;
  font-weight: 700;
}
.serveses_item-hover:hover .serveses_button::after {
  content: '→';
  font-weight: 7001;
}
.serveses_item-hover:hover .serveses_item-content {
  transform: translateY(10%);
}
.serveses_item-text {
  display: none;
}
.serveses_item-buttonCont {
  display: none;
}
.serveses_item-content {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #4A4A4A;
  transform: translateY(50%);
}
@media (min-width: 640px) {
  .serveses_item {
    width: 319px;
    border: none;
  }
}
@media (min-width: 1024px) {
  .serveses_item {
    width: 210px;
  }
}
@media (min-width: 1440px) {
  .serveses_item {
    width: 165px;
  }
}
@media (min-width: 1640px) {
  .serveses_item {
    width: 240px;
  }
}

.serveses_item-content-img {
  margin-bottom: 30px;
}

.recentWorks {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(#2B4074, #fff);
}
.recentWorks_title-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  padding-top: 20px;
}
.recentWorks_title-line {
  margin: 30px auto;
  width: 50px;
  height: 8px;
  background-color: #fff;
}
@media (min-width: 640px) {
  .recentWorks_title-line {
    width: 100px;
  }
}
.recentWorks_img {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .recentWorks_img {
    width: 518px;
  }
}
@media (min-width: 768px) {
  .recentWorks_img {
    display: flex;
    flex-wrap: wrap;
    width: 662px;
  }
}
@media (min-width: 1440px) {
  .recentWorks_img {
    width: 1138px;
  }
}
.recentWorks_img-item {
  display: block;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .recentWorks_img-item:nth-of-type(2n) {
    margin-left: 10px;
  }
  .recentWorks_img-item:nth-of-type(2n-1) {
    margin-right: 10px;
  }
}
@media (min-width: 1440px) {
  .recentWorks_img-item:nth-of-type(2n) {
    margin: 0 auto;
  }
}

.recentWorks_item-img {
  width: 280px;
  height: 250px;
}
@media (min-width: 640px) {
  .recentWorks_item-img {
    width: 518px;
    height: 460px;
  }
}
@media (min-width: 768px) {
  .recentWorks_item-img {
    width: 318px;
    height: 283px;
  }
}
@media (min-width: 1440px) {
  .recentWorks_item-img {
    width: 238px;
    height: 239px;
  }
}

.recentWorks_item-title {
  color: #2B4074;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 2px;
}

.video {
  text-align: center;
  padding: 20px 0;
}
.video_content {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video_content {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .video_content {
    width: 1200px;
  }
}
.video_media {
  margin: 0 auto;
}
.video_media-img {
  width: 280px;
  height: 250px;
}
@media (min-width: 640px) {
  .video_media-img {
    width: 518px;
    height: 490px;
  }
}
@media (min-width: 768px) {
  .video_media-img {
    width: 240px;
    height: 227px;
  }
}
@media (min-width: 1024px) {
  .video_media-img {
    width: 400px;
    height: 380px;
  }
}
@media (min-width: 768px) {
  .video_media {
    margin: 0 40px;
  }
}
.video_text {
  margin: 40px auto;
  margin-bottom: 61px;
  font-family: "Roboto", sans-serif;
}
.video_text-title {
  font-size: 24px;
  line-height: 38px;
  color: #4A4A4A;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 640px) {
  .video_text-title {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .video_text-title {
    font-size: 48px;
  }
}
.video_text-line {
  width: 45px;
  height: 8px;
  background-color: #2B4074;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .video_text-line {
    margin: 35px 0;
    width: 100px;
  }
}
.video_text-suptext {
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .video_text-suptext {
    margin-right: 60px;
  }
}
@media (min-width: 1440px) {
  .video_text-suptext {
    width: 520px;
  }
}
.video_text-button {
  display: flex;
  padding: 20px 26px;
  background-color: #2B4074;
  text-decoration: none;
  color: #F9F6E5;
  font-size: 20px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1024px) {
  .video_text-button {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .video_text-button {
    margin-top: 15px;
  }
}
@media (min-width: 640px) {
  .video_text {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .video_text {
    text-align: start;
    width: 390px;
    height: 270px;
  }
}
@media (min-width: 1024px) {
  .video_text {
    height: 400px;
    width: 100%;
  }
}

.button_flex-cont {
  display: block;
  width: 240px;
  height: 64px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .button_flex-cont {
    display: none;
  }
}
@media (min-width: 1024px) {
  .button_flex-cont {
    display: inline-block;
    width: 250px;
  }
}
@media (min-width: 1440px) {
  .button_flex-cont {
    width: 250px;
    margin-top: 79px;
  }
}

.button_cont {
  margin-bottom: 40px;
  display: none;
}
@media (min-width: 768px) {
  .button_cont {
    display: inline-block;
    height: 64px;
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .button_cont {
    display: none;
  }
}

.news {
  background-color: #F9F6E5;
  padding-top: 61px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
.news_title {
  padding-top: 40px;
  margin-bottom: 20px;
}
.news_title-text {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  color: #4A4A4A;
}
.news_title-line {
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  margin: 20px auto;
}
.news_content {
  width: 100%;
  padding-bottom: 40px;
  padding: 15px 0;
}
.news_content-item {
  border-radius: 10px;
  width: 270px;
  margin: 20px auto;
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 640px) {
  .news_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'big-img1 big-img2' 'big-img3 sm-img1' 'big-img3 sm-img2' 'big-img6 sm-img3';
  }
  .news_content .news_content-item:nth-child(1) {
    grid-area: big-img1;
  }
  .news_content .news_content-item:nth-child(2) {
    grid-area: big-img2;
  }
  .news_content .news_content-item:nth-child(3) {
    grid-area: big-img3;
  }
  .news_content .news_content-item:nth-child(4) {
    grid-area: sm-img1;
  }
  .news_content .news_content-item:nth-child(5) {
    grid-column: 2;
    grid-area: sm-img2;
  }
  .news_content .news_content-item:nth-child(6) {
    grid-area: big-img6;
  }
  .news_content .news_content-item:nth-child(7) {
    grid-column: 2;
    grid-area: sm-img3;
  }
  .news_content .news_content-item:nth-child(8) {
    grid-area: big-img8;
    grid-column: 2;
  }
}

.news_item-hover:hover {
  height: 95%;
  border: 10px solid #2B4074;
}
.news_item-hover:hover .news_item-img {
  width: 100%;
  height: 100%;
}
.news_item-hover:hover .news_item-title {
  position: relative;
  bottom: 60px;
  text-align: start;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #2B4074;
}

.sm_hover:hover {
  height: 90%;
}

.news_item-img {
  width: 270px;
  height: 404px;
}

.sm_img {
  height: 170px;
}

.sm_item {
  height: 210px;
}

.news_item-title {
  padding: 9px 0;
}

.testimonial {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.slider-item-title {
  font-size: 34px;
  line-height: 42px;
  color: #2B4074;
  padding-top: 60px;
}

.slider-item_text {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin: 20px;
}
@media (min-width: 640px) {
  .slider-item_text {
    font-size: 32px;
    line-height: 34px;
  }
}
@media (min-width: 1024px) {
  .slider-item_text {
    width: 500px;
    margin: 40px auto;
  }
}

.slick_dots-bot {
  position: absolute;
  bottom: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  right: 0;
  left: 0;
  padding: 0;
  bottom: 40px;
}
.slick_dots-bot li {
  margin-left: 10px;
}
.slick_dots-bot li:first-child {
  margin-left: 0;
}
.slick_dots-bot li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #2B4074;
  color: #2B4074;
  border: 1px solid #2B4074;
  border-radius: 50%;
}
.slick_dots-bot li button:focus {
  outline: none;
}
@media (min-width: 768px) {
  .slick_dots-bot {
    bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .slick_dots-bot {
    bottom: 80px;
  }
}

.text-highlight {
  color: #2B4074;
  font-weight: 600;
}

.person {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 140px;
}
@media (min-width: 768px) {
  .person {
    margin-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .person {
    margin-bottom: 220px;
  }
}

.footer {
  background-color: #2B4074;
  color: #fff;
  text-align: center;
}
.footer_title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 22px;
  width: 270px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .footer_title {
    text-align: start;
    width: 90%;
    font-size: 24px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .footer_title {
    font-size: 36px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .footer_title {
    font-size: 24px;
  }
}
.footer_logo {
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .footer {
    padding: 0 45px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 0 150px;
  }
}
.footer_social {
  width: 100%;
  margin: 45px 0;
}
@media (min-width: 640px) {
  .footer_social {
    display: flex;
    justify-content: space-around;
  }
  .footer_social-item {
    width: 100%;
    border: 1px solid #D8D8D8;
  }
  .footer_social-item:first-child {
    border-left: none;
  }
  .footer_social-item:last-child {
    border-right: none;
  }
}

.footer_item-img {
  padding: 20px 0;
}

.footer_item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
}

.footer_widgets-item {
  padding: 40px 0;
}
@media (min-width: 640px) {
  .footer_widgets-item {
    min-width: 194px;
  }
}
@media (min-width: 640px) {
  .footer_widgets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: start;
  }
}
@media (min-width: 768px) {
  .footer_widgets {
    max-width: 85%;
  }
}
@media (min-width: 1024px) {
  .footer_widgets {
    margin: 0 auto;
  }
}

.footer_item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  margin: 22px auto;
}
.footer_item-content a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 640px) {
  .footer_item-content {
    margin: 22px 0;
  }
}
